﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:62px;
  top:50px;
  width:1000px;
  height:1740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:862px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:92px;
  top:180px;
  width:942px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u3 {
  position:absolute;
  left:62px;
  top:180px;
  width:1000px;
  height:350px;
  font-size:20px;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:350px;
}
#u4 {
  position:absolute;
  left:2px;
  top:161px;
  width:996px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:200px;
  top:680px;
  width:740px;
  height:75px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:75px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:514px;
  top:614px;
  width:97px;
  height:33px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:92px;
  top:820px;
  width:942px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u10 {
  position:absolute;
  left:514px;
  top:1270px;
  width:97px;
  height:33px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:538px;
  top:890px;
  width:49px;
  height:33px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:590px;
  top:1380px;
  width:350px;
  height:210px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
}
#u15 {
  position:absolute;
  left:2px;
  top:96px;
  width:346px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:92px;
  top:1210px;
  width:942px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u17 {
  position:absolute;
  left:316px;
  top:1712px;
  width:487px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:92px;
  top:1660px;
  width:942px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u20 {
  position:absolute;
  left:194px;
  top:1377px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:194px;
  top:1412px;
  width:105px;
  height:18px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:194px;
  top:1457px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:194px;
  top:1492px;
  width:141px;
  height:18px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:194px;
  top:1537px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:194px;
  top:1572px;
  width:253px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:193px;
  top:950px;
  width:740px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:25px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:538px;
  top:1045px;
  width:49px;
  height:33px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:192px;
  top:1105px;
  width:740px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:353px;
  top:117px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:807px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:924px;
  top:117px;
  width:38px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-style:normal;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:180px;
  top:114px;
  width:81px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:154px;
  top:121px;
  width:12px;
  height:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:596px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:460px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:704px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
