<style scoped="">
.budget_analytics .comm_width{
  display: flex;
  padding-top: 134px;
  padding-bottom: 150px;
}
.budget_analytics .comm_width .budget_item_pane{
  margin-right: 180px;
  display: block;
  width: 100%;
}
.budget_analytics .comm_width .budget_item_pane:last-child{
  margin-right: 0px;
}
.budget_item_pane{
  border-bottom: 1px solid #D4D4D7;
  padding-bottom: 33px;
}
.budget_item_pic{
  height: 268px;
  background-color: #eee;
  position: relative;
  background-image: url('../assets/images/已通过FIP提案数@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.5215686274509804);
}
.budget_item_num_title{
  position: absolute;
  top: 45px;
  left: 34px;
  font-size: 23px;
}
.budget_item_num{
  font-size: 36px;
  line-height: 1;
  padding-bottom: 5px;
  display: block;
  border-bottom: 1px solid #fff;
}
.budget_item_thin_tag{
  font-size: 16px;
  line-height: 24px;
  color: #717188;
  margin-top: 45px;
}
.budget_item_title{
  font-size: 23px;
  line-height: 36px;
  padding: 10px 0px;
  display: block;
}
.budget_item_brief{
  font-size: 18px;
  line-height: 27px;
  color: rgba(53, 53, 86, 0.7019607843137254);
  font-size: 300;
}
.accept_project{
  background-image: url('../assets/images/已通过预算提案数@2x.png');
}
@media (max-width: 800px) {
  .budget_analytics .comm_width{
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .budget_analytics .comm_width .budget_item_pane{
    width: 100%;
    margin-right: 0px;
    box-sizing: border-box;
    padding: 10px;
    /*border-bottom: 0px;*/
  }
  .budget_item_brief{
    font-size: 13px;
  }
  .budget_item_num_title{
    font-size: 16px;
    left: 15px;
    top: 15px;
  }
  .budget_item_thin_tag{
    margin-top: 15px;
  }
}
</style>
<template>
  <div class="budget_analytics">
    <div class="comm_width">
      <!-- {{ plans }} -->

      <a rel="nofollow" class="budget_item_pane" target="_blank" :href="item.url" v-for="item, index in plans" :key="index">
        <div class="budget_item_pic" :style="{'backgroundImage': `url(${item.sliders[0]})`}">

          <div class="budget_item_num_title"  v-if="index == 0">
            {{ lang.data['Approved FIP'] }}
          </div>
          <div class="budget_item_num_title"  v-if="index == 1">
            {{ lang.data['Approved Budget Proposal'] }}
          </div>

          <div class="budget_item_num">{{ item.slider_center_text }}</div>
        </div>

        <div class="budget_item_thin_tag" v-if="index == 0">
          {{ lang.data['Latest FIP'] }}
        </div>
         <div class="budget_item_thin_tag" v-if="index == 1">
          {{ lang.data['Latest Budget Proposal'] }}
        </div>
        
        <h4 class="budget_item_title" :href="item.url" target="_blank">
          {{ item.title }}
        </h4>
        <div class="budget_item_brief">
          {{ item.brief }}
        </div>
      </a>
      <!-- 
      <a rel="nofollow" class="budget_item_pane" target="_blank" href="https://eosforce.gitbook.io/eosforce/ti-an/eosforce-zhu-wang-gai-jin-ti-an">
        <div class="budget_item_pic">
          <div class="budget_item_num_title">{{ lang.data['Approved FIP'] }}</div>
          <div class="budget_item_num">17</div>
        </div>
        <div class="budget_item_thin_tag">
          {{ lang.data['Latest FIP'] }}
        </div>
        <h4 class="budget_item_title" href="https://eosforce.gitbook.io/eosforce/ti-an/eosforce-zhu-wang-gai-jin-ti-an" target="_blank">
          FIP #17 EOSC主网改进提案
        </h4>
        <div class="budget_item_brief">
          根据社区反馈，和实际使用效果进行考察。为了让预算系统公示时间更加合理，让整个预算系统流程更加高效快捷。预算委员会经过统一协商和考虑，本提案提议：去中心化预算系统公示期由原先15天缩短至7天。
        </div>
      </a>

      <a rel="nofollow" class="budget_item_pane" target="_blank" href="https://u.eosforce.io/">
        <div class="budget_item_pic accept_project">
          <div class="budget_item_num_title">{{ lang.data['Approved Budget Proposal'] }}</div>
          <div class="budget_item_num">9</div>
        </div>
        <div class="budget_item_thin_tag">
          {{ lang.data['Latest Budget Proposal'] }}
        </div>
        <h4 class="budget_item_title">
          原力社区微信群管理费用申请
        </h4>
        <div class="budget_item_brief">
          自2018年6月接触eosforce.io之后，一直关注其生态建设和技术发展，并提出相应的改进建议。2019年8月担任“EOSC原力神秘基地”群主之后，由于原力官方长期没有客服，所以长期为社区新老成员解决问题，通过线上及线下的方式与社区和官方沟通交流。邀请圈内知名人士参与原力社区治理分享等诸多内容。故申请原力社区微信管理费用，审批费用的20%将用于社区成员红包等其他激励活跃度的措施。
        </div>
      </a> -->

    </div>
  </div>
</template>
<script>
import { get_lang_data_by_key, set_lang } from '@/data/langs/index.js'
let lang = get_lang_data_by_key('en');

export default {
  beforeCreate () {
    lang = get_lang_data_by_key(this.$route.params.lang || 'cn');
  },
  computed: {
    plans () {
      let plans = JSON.parse( JSON.stringify(this.$store.state.plans.plans) );
      return plans;
    },
  },
  data () {
    return {
      lang
    }
  },

  methods: {

  }
}
</script>