<style scoped="">
.header_nav{
  height: 70px;
  border-bottom: 1px solid #0D5EE5;
  display: flex;
}
.header_nav .logo{
  display: block;
}
.header_nav .comm_width{
  display: flex;
  align-items: center;
  position: relative;
}
.header_nav_bar{
  list-style: none;
  /*margin-left: 117px;*/
}
.header_nav_bar_lang{
  margin: auto;
  position: absolute;
  right: 0px;
}
.header_nav_bar li{
  list-style: none;
  display: inline-block;
  position: relative;
}
.down_list_pane{
  position: absolute;
  z-index: 1;
  left: 20px;
  display: none;
}
.down_list_pane ul{
  box-shadow: 0px 0px 20px #eee;
  margin-top: 10px;
  background-color: #fff;
}
.down_list_pane ul li{
  display: block;
}
.down_list_pane ul li a{
  white-space: nowrap;
  background-color: #fff;
  white-space: nowrap;
  background-color: #fff;
  padding: 10px;
  padding-right: 30px;
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.down_list_pane ul li a:hover{
  border-left: 1px solid #000;
}
.header_nav_bar>li:hover .down_list_pane{
  /*background-color: #000;*/
  display: block;
}
.header_nav_bar li a{
  padding: 10px 25px;
}
.header_nav .mobile_module{
  display: none;
}
@media (max-width: 800px) {
  .header_nav{
    padding: 0px 10px;
    height: 58px;
  }
  .header_nav .pc_module{
    display: none;
  }
  .header_nav .mobile_module{
    display: flex;
    justify-content: space-between;
  }
  .nav_bar{
    background-size: 18px 15px;
    background-image: url('../assets/images/更多@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 30px;
  }
  .nav_bar_close{
    background-image: url('../assets/images/关闭(1)@2x.png');
    background-size: 15px 15px;
  }
  .logo{
    height: 29px;
    background-position: left;
  }
  .mobile_nav_pane{
    background-color: #eee;
    position: fixed;
    left: 0px;
    top: 58px;
    bottom: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .lang_select_ct{
    height: 66px;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  .lang_select_ct a, .lang_select_ct span{
    margin-right: 20px;
  }
  .blue_ft{
    color: blue;
  }
}
</style>
<template>
  <div class="header_nav">

    <div class="comm_width mobile_module">
      <a class="logo" :href="logo_links[$route.params.lang || 'cn']"></a>
      <!-- <router-link class="logo" :to="{'name': 'app', 'params': {lang: $route.params.lang}}"></router-link> -->

      <div class="mobile_nav_pane" v-if="is_show_mobile_nav">

        <expander v-for="(item, index) in head_data" :key="index" v-bind:data="item"></expander>

        <div class="lang_select_ct">
          <template v-for="item, index in lang.langs">
            <a rel="nofollow" :href="lang_links[item.key || 'cn']" :class="{'blue_ft': item.selected}">
              {{ item.text }}
            </a>
            <span v-if="index != lang.langs.length - 1">/</span>
          </template>
        </div>

      </div>
      <div class="nav_bar" v-bind:class="{'nav_bar_close': is_show_mobile_nav}" @click="toggle_mobile_nav"></div>
    </div>

    <!-- pc_module_start -->
    <div class="comm_width pc_module">
      <!-- <router-link class="logo" :to="{'name': 'app', 'params': {lang: $route.params.lang}}"></router-link> -->
      <a class="logo" :href="logo_links[$route.params.lang || 'cn']"></a>

      <ul class="header_nav_bar" v-if="with_nav">

        <li v-for="item, index in head_data" :key="index">
          <a rel="nofollow" v-if="item.title.type!='router'" :href="item.title.url" target="_blank">{{ item.title.text }}</a> 
          <router-link v-if="item.title.type=='router'" :to="item.title.router" target="_blank">
            {{ item.title.text }}
          </router-link>
          <!-- {{ logo_links[$route.params.lang || 'cn'] }} -->
          <div class="down_list_pane">
            <ul>
              <li v-for="(child, child_index) in item.children" :key="child_index">
                <a rel="nofollow" :href="child.url"  target="_blank">{{ child.text }}</a>
                <!-- <a rel="nofollow" :href="child.url" v-if="child.type == 'router'" target="_blank">{{ child.text }}</a> -->
              </li>
            </ul> 
          </div>
        </li>

      </ul>
      <ul class="header_nav_bar header_nav_bar_lang">
        <li>
          <a rel="nofollow">{{ lang.now_lang.text }}</a>
          <div class="down_list_pane">
            <ul class="">
              <li v-for="item in lang.langs">
                <!-- <router-link :to="{'name': 'app', params: {lang: item.key}}">
                  {{ item.text }}
                </router-link> -->
                <a rel="nofollow" :href="lang_links[item.key || 'cn']">
                  {{ item.text }}
                </a>

              </li> 
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- pc_module_end -->
  </div>
</template>
<script>
import expander from '../components/expander.vue'
import { get_lang_data_by_key, set_lang } from '@/data/langs/index.js'
let lang = get_lang_data_by_key('en');
// console.log('lang_1')
// console.log(lang)
export default {
  beforeCreate () {
    lang = get_lang_data_by_key(this.$route.params.lang || 'cn');
  },
  mounted () {
    // console.log(this.$route);
  },
  data () {
    return {
      lang,
      is_show_mobile_nav: false,
      logo_links: {
        cn: 'https://eosforce.io',
        en: 'https://en.eosforce.io',
        kr: 'https://eosforce.io'
      },
      lang_links: {
        cn: 'https://eosforce.io/index/cn',
        en: 'https://en.eosforce.io',
        kr: 'https://eosforce.io/index/kr'
      },
      head_data: [

        {
          title: {
            url: 'javascript:;',
            text: lang.data.developer
          },
          children: [
            {
              url: 'https://github.com/eosforce',
              text: lang.data.Github || 'Github'
            },
            {
              url: 'https://eosforce.github.io/Documentation/',
              text: lang.data['Document'] || '文档'
            },
            {
              url: 'https://open.eosforce.io/',
              text: lang.data['One-Click Startup'] || '一键起链'
            }
          ]
        },

        {
          title: {
            url: 'javascript:;',
            text: lang.data['Mainnet News'] || '主网动态'
          },
          children: [
            {
              url: 'https://eosforce.gitbook.io/eosforce/zui-xin-zi-xun/eosc-zhu-wang-zui-xin-zi-xun',
              text: lang.data['Latest News'] || '最新动态'
            },
            {
              url: 'https://eosforce.gitbook.io/eosforce/',
              text: lang.data['Introduction'] || '主网介绍'
            },
            {
              url: 'https://eosforce.gitbook.io/eosforce/kai-fa-zhou-bao/eosc-kai-fa-zhou-bao',
              text: lang.data['Weekly Report'] || '开发周报'
            },
            // {
            //   url: 'https://explorer.eosforce.io/FAQ.html#/cn/1/1.1/',
            //   text: lang.data['FAQ'] || '常见问题'
            // }
          ]
        },

        {
          title: {
            url: 'javascript:;',
            text: lang.data['Community Governance']
          },
          children: [
            {
              url: 'https://eosforce.gitbook.io/eosforce/jie-dian-jie-shao/eosc-zhu-wang-jie-dian-jie-shao',
              text: lang.data['Node Information']
            },
            {
              url: 'https://eosforce.gitbook.io/eosforce/ti-an/eosforce-zhu-wang-gai-jin-ti-an',
              text: lang.data['Proposal Publicity']
            },
            {
              url: 'https://u.eosforce.io/',
              text: lang.data['Budget System']
            },
            {
              url: 'https://bbs.eosforce.io/',
              text: lang.data['Community Forum']
            }
          ]
        },
        {
          title: {
            url: 'https://explorer.eosforce.io',
            text: lang.data['EOS Explorer']
          },
          children: []
        },
        {
          title: {
            url: `#/${lang.now_lang.key}/wallet/`,
            type: 'router',
            router: {
              'name': 'wallet',
              'params': {
                lang: this.$route.params.lang
              }
            },
            text: lang.data['Download Wallet']
          },
          children: []
        },
        {
          title: {
            url: 'https://eosforce.gitbook.io/eosforce/eosc-ji-shu-bai-pi-shu',
            text: lang.data['White Paper']
          },
          children: []
        },

      ]
    }
  },
  props: {
    with_nav: {
      type: Boolean,
      default () {
        return true;
      }
    }
  },
  methods: {
    toggle_mobile_nav () {
      if(!this.is_show_mobile_nav){
        document.getElementsByTagName('HTML')[0].style = 'overflow:hidden;height: auto';
        this.is_show_mobile_nav = true;
      }else{
        document.getElementsByTagName('HTML')[0].style = '';
        this.is_show_mobile_nav = false;
      }
    },
    exchange (item) {
        let key = item.key || item.router_name;
        let new_url = window.location.href.replace(`#/${lang.now_lang.key}`, `#/${key}`);
        window.location.href = new_url;
        set_lang(lang.exchange_lang.key, () => {
            window.location.reload(true);
        });
    }
  },
  components: {
    expander
  }
}
</script>


