<style scoped="">
.recent_news_ct{
  padding-top: 90px;
  padding-bottom: 36px;
}
.recent_news_ct .comm_width{
  overflow-x: hidden;
}
.recent_new_title{
  font-size: 36px;
  line-height: 1;
  color: #353556;
  text-align: center;
  padding-bottom: 75px;
}
.recent_news_list{
  width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.recent_news_list li{
  list-style: none;
  float: left;
  width: 346px;
  margin-right: 30px;
  padding-bottom: 80px;
}
.recent_news_pic{
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #eee;
}
.recent_news_pic img{
  display: block;
  height: 100%;
}
.recent_new_item_tag{
  color: #717188;
  font-size: 16px;
  line-height: 1;
  padding-top: 26px;
  padding-bottom: 12px;
}
.recent_new_item_title{
  color: #353556;
  font-size: 24px;
  line-height: 36px;
}
.rencent_news_item:hover .recent_new_item_title{
  color: #4856a5;
}

@media (max-width: 800px) {
  .recent_news_ct{
    padding-top: 0px;
  }
  .recent_new_title{
    font-size: 20px;
    padding-bottom: 30px;
  }
  .recent_news_list{
    width: auto;
  }
  .recent_news_list li{
    list-style: none;
    float: none; 
    width: 50%;
    padding: 10px;
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
  }
  .recent_news_pic{
    height: 140px;
  }
  .recent_new_item_tag{
    font-size: 14px;
    padding-top: 10px;
  }
  .recent_new_item_title{
    font-size: 14px;
    line-height: 19px;
  }
}

</style>
<style lang="stylus">
.flex_center
  display: flex
  align-items: center
  justify-content: center
  margin-top: 20px

.load_btn
  border: 1px solid #3B72F6
  display: flex
  line-height: 48px
  padding: 0px 50px
  color: #3B72F6
  cursor: pointer
</style>
<template>
  <div class="recent_news_ct">
    <div class="comm_width">

      <h2 class="recent_new_title">
        {{ lang.data['Latest News'] }}
      </h2>

      <ul class="recent_news_list">

        <li class="rencent_news_item" v-for="item, index in news_list" :key="index">
          <a rel="nofollow" target="_blank" :href="item.url">
            <div class="recent_news_pic">
              <img :src="item.sliders[0]">
            </div>
            <div class="recent_new_item_tag">{{ item.tag_text || 'null' }}</div>
            <div class="recent_new_item_title" v-html="item.title">
            </div>
          </a>
        </li>

      </ul>

    </div>

    <div class="flex_center">
      <template v-if="more">
        <div class="load_btn" @click="load_next" v-if="!on_load">
          查看更多
        </div>
        <div class="load_btn" v-if="on_load">
          正在加载
        </div>
      </template>
      <div class="no_data" v-if="!more">
          没有更多了
      </div>
    </div>

  </div>
</template>
<script>
import { get_lang_data_by_key, set_lang } from '@/data/langs/index.js'
let lang = get_lang_data_by_key('en');

export default {
  beforeCreate () {
    lang = get_lang_data_by_key(this.$route.params.lang || 'cn');
  },
  computed: {
    news_list () {
      let news_list = JSON.parse( JSON.stringify(this.$store.state.news.news_list) );
      return news_list;
    },
    page () {
      return this.$store.state.news.page;
    },
    limit () {
      return this.$store.state.news.limit;
    },
    on_load () {
      return this.$store.state.news.on_load;
    },
    more () {
      return this.$store.state.news.more;
    }
  },
  data () {
    return {
      lang
    }
  },
  methods: {
    load_next () {
      let lang_key = this.$route.params.lang || 'cn';
      const params = {
        tags: [lang_key]
      }
      this.$store.dispatch('load_next_page_news', params);
    }
  }
}
</script>