<template>
  <div>this is a test for typescript, --> {{ for_test }}</div>
</template>
<script>
import Vue from 'vue'

export default Vue.extend({
  data () {
    return {
      'for_test': 'this is from typescript'
    }
  },
  methods: {

  }
})
</script>