﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:62px;
  top:50px;
  width:1000px;
  height:1740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:862px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:92px;
  top:180px;
  width:942px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u3 {
  position:absolute;
  left:62px;
  top:180px;
  width:1000px;
  height:350px;
  font-size:20px;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:350px;
}
#u4 {
  position:absolute;
  left:2px;
  top:161px;
  width:996px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:316px;
  top:1712px;
  width:487px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:92px;
  top:1660px;
  width:942px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:925px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:942px;
  height:1px;
}
#u8 {
  position:absolute;
  left:353px;
  top:117px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:807px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:924px;
  top:117px;
  width:38px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-style:normal;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:180px;
  top:114px;
  width:81px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:154px;
  top:121px;
  width:12px;
  height:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:596px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:460px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:704px;
  top:117px;
  width:53px;
  height:18px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:127px;
  top:580px;
  width:870px;
  height:210px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:210px;
}
#u25 {
  position:absolute;
  left:2px;
  top:97px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:170px;
  top:610px;
  width:220px;
  height:150px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:150px;
}
#u27 {
  position:absolute;
  left:2px;
  top:67px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:440px;
  top:610px;
  width:380px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:440px;
  top:651px;
  width:510px;
  height:72px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:440px;
  top:742px;
  width:83px;
  height:18px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:127px;
  top:830px;
  width:870px;
  height:210px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:210px;
}
#u35 {
  position:absolute;
  left:2px;
  top:97px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:170px;
  top:860px;
  width:220px;
  height:150px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:150px;
}
#u37 {
  position:absolute;
  left:2px;
  top:67px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:440px;
  top:860px;
  width:380px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:440px;
  top:901px;
  width:510px;
  height:72px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:440px;
  top:992px;
  width:83px;
  height:18px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:127px;
  top:1080px;
  width:870px;
  height:210px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:210px;
}
#u45 {
  position:absolute;
  left:2px;
  top:97px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:170px;
  top:1110px;
  width:220px;
  height:150px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:150px;
}
#u47 {
  position:absolute;
  left:2px;
  top:67px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:440px;
  top:1110px;
  width:380px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:440px;
  top:1151px;
  width:510px;
  height:72px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:440px;
  top:1242px;
  width:83px;
  height:18px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:127px;
  top:1330px;
  width:870px;
  height:210px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:210px;
}
#u55 {
  position:absolute;
  left:2px;
  top:97px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:171px;
  top:1360px;
  width:220px;
  height:150px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:150px;
}
#u57 {
  position:absolute;
  left:2px;
  top:67px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:441px;
  top:1360px;
  width:380px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:441px;
  top:1400px;
  width:510px;
  height:72px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:441px;
  top:1492px;
  width:83px;
  height:18px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:507px;
  top:1590px;
  width:114px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:383px;
  top:1585px;
  width:100px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:641px;
  top:1585px;
  width:100px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
