<template>
  <div>
    <!-- <test_ts></test_ts> -->
    <header_nav></header_nav>
    <main_slider></main_slider>
    <text_slider></text_slider>
    <tech_analytics></tech_analytics>
    <budget_analytics></budget_analytics>
    <manage_way></manage_way>
    <tech_support></tech_support>
    <documents></documents>
    <road_map></road_map>
    <recent_news></recent_news>
    <!-- <deal_platform></deal_platform> -->
    <site_map></site_map>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import main_slider from '../modules/main_slider.vue'
import text_slider from '../modules/text_slider.vue'
import tech_analytics from '../modules/tech_analytics.vue'
import budget_analytics from '../modules/budget_analytics.vue'
import manage_way from '../modules/manage_way.vue'
import tech_support from '../modules/tech_support.vue'
import documents from '../modules/documents.vue'
import road_map from '../modules/road_map.vue'
import recent_news from '../modules/recent_news.vue'
import deal_platform from '../modules/deal_platform.vue'
import site_map from '../modules/site_map.vue'
import test_ts from '../modules/test_ts.vue'


export default {
  data () {
    return {}
  },
  mounted () {

  },
  async asyncData ({store, route}) {
    const keys = new Set(['cn', 'en', 'kr'])
    let lang_key = route.params.lang || 'cn';
    lang_key = keys.has(lang_key) ? lang_key : 'cn'
    const params = {
      tags: [lang_key]
    }

    await Promise.all([
       store.dispatch('load_first_page_news', params),
       store.dispatch('LOAD_FIRST_PAGE_PLANS', params),
       store.dispatch('LOAD_FIRST_PAGE_ORGANIZATION_RULLS', params),
      ])

    // await store.dispatch('load_first_page_news', params)
    // await store.dispatch('LOAD_FIRST_PAGE_PLANS', params)
    // await store.dispatch('LOAD_FIRST_PAGE_ORGANIZATION_RULLS', params)
  },
  methods: {

  },
  components: {
    header_nav,
    main_slider,
    text_slider,
    tech_analytics,
    budget_analytics,
    manage_way,
    tech_support,
    documents,
    road_map,
    recent_news,
    deal_platform,
    site_map,
    test_ts
  }
}
</script>