<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="https://eosforce.io/dist/favicon.png" id="favicon" data-original-href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="EOSC,EOSForce,EOS原力,EOSC社区,EOSC主网,eosforce.io官网,EOSC官网,EOSForce主网" charset="utf-8">
    <meta name="description" content="EOSC社区基于不同的治理理念，对EOSIO的选举机制进行了优化，在创世高度1启动了EOSC主网，并持续对EOSC主网进行迭代升级，使得EOSC朝着去中心化的高性能智能合约平台的方向持续演进，为加密经济大规模普及奠定基础。" charset="utf-8">
  </head>
  <body>
  <!--vue-ssr-outlet-->
  </body>
</html>


